<% include header %>
<section id="index">
    <h1>Image Search</h1>
    <h2>Url Expample:</h2>
    <p>https://img-src-abst-lay.herokuapp.com/search?q=armor&#38;[offset]=10</p>
    <h2>Example Usage:</h2>
    <p>Insert after "<b>?q=</b>" the search entry, in this case is <b>armor</b>.</p><br>
    <p>Insert after "<b>[offset]=</b>" the number of results you want, in this example we have set it to <b>10</b>. <ins>Important: max number of results is <b>50</b>.</ins>
    <h2>Search History Url:</h2>
    <p>https://img-src-abst-lay.herokuapp.com/history</p>
</section>
<% include footer %>