#index {
    text-align: center;
}

/* --------------------------- */

#result h3{
    margin-left: 50px;
}
#result p{
    position: relative;
    left: 75px;
}
#result p .text{
    font-weight: bold;
}
#result p .content{
    margin-left: 5px;
    color: green;
}

/* --------------------------- */

#error{
    color: red;
    text-align: center;
}
#error h1{
    font-size: 3em;
}
#error h2{
    font-size: 2em;
}